<% provide(:title, "About") %>
<div class="text-center">
	<h1>About</h1>
	<p>
		The Dragon Fire Name and Engine Copyright Collin Williamson 2014-2015. All rights reserved.
	</p>

	<p> This website is created by Travis McMahon and made with Ruby on Rails! </p>
</div>