<% provide(:title, "About") %>
<div class="twelve columns text-center">
	<h1>About</h1>
	<p>
		The Dragon Fire name and engine is property owned by Colin Williamson Copyright 2014-2015
	</p>

	<p> This website is created by Travis McMahon and made with Ruby on Rails! </p>
</div>