<div class="small-12 small-centered columns text-center">
	<h1> Dragon Fire App</h1>
	<p> This is a sample app for creating DnD games with the Dragon Fire Engine. </p>
	<%= link_to 'Sign up now!', signup_path, class: "button large" %>
</div>
