<% provide(:title, "Forgot Password") %>

<h1 class="text-center">Forgot Password</h1>
<div class="small-8 medium-6 small-centered columns">
	<%= simple_form_for(:password_reset, url: password_resets_path) do |f| %>
		<%= f.input :username, required: false %>
		<%= f.button :submit, "Submit" %>
	<% end %>
</div>