<% provide(:title, "User List") %>

<div class="small-12 small-centered columns text-center">
	<h1> User List </h1>

	<%= will_paginate @users, renderer: BootstrapPagination::Rails %>
	<table class="table table-striped">
		<tr>
    		<th class="text-center">ID</th>
    		<th class="text-center">Username</th>
    		<th class="text-center">Created At</th>
			<% if current_user.admin? %>
				<th class="text-center"> Delete </th>
        <%end%>
    	</tr>
		<%= render @users %>
	</table>

	<%= will_paginate @users, renderer: BootstrapPagination::Rails %>
</div>




