<%= link_to(campaign, class: "list-group-item") do %>
	<h4 class="list-group-item-heading">
		<%=campaign.title%>
		<span class="pull-right small"> DM: <%=campaign.owner.username%></span>
	</h4>
	<p class="list-group-item-text">
	<%=campaign.description%>
	</p>
<%end%>