<%= link_to(campaign, class: "list-group-item") do %>
	<h4 class="list-group-item-heading">
		<%=campaign.title%>
		<span> DM: <%=campaign.owner.username%></span>
	</h4>
	<p>
		<%=campaign.description%>
	</p>
<%end%>